.container {

  width: 500px;
  border-radius: 25px;
  background-color: #BBCDDF;

  border: 1px solid rgb(52, 123, 189);


  .textContainer {
    display: flex;

    border: 1px solid red;


    .name {



      border: 1px solid rgb(64, 24, 165);
    }

    .text {


      border: 1px solid rgb(156, 52, 221);
    }
  }
}