.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  row-gap: 23px;

  width: 700px;
  height: 460px;
  overflow-y: scroll;
  overflow-x: hidden;

  padding-left: 30px;
}