.container {
  display: grid;
  grid-template-areas:
    "updateNews bgm"
    "miniRoom miniRoom";
  gap: 10px;


  width: 92%;
  /* height: 160%; */
  
  border: 1px solid rgba(32, 32, 211, 0.336);

}

.updateNews {
  grid-area: updateNews;

  border: 1px solid red;

}

.bgm {
  grid-area: bgm;

  border: 1px solid red;
}

.miniRoom {
  grid-area: miniRoom;

  border: 1px solid red;

  .miniRoomImg {
    width: 95%;
    height: 90%;
  }
}