.container {
  display: grid;
  grid-template-areas:
    "updateNews bgm"
    "miniRoom miniRoom";
  gap: 10px;

  width: 92%;
  margin-top: 17px;

  .title {
    color: #2B89BF;
    font-weight: 700;
  }

  .decorative {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);

    margin-top: 3px;
    margin-bottom: 3px;
  }
}

.updateNews {
  grid-area: updateNews;

  .newContent li {
    margin: 5px;
  }
}

.bgm {
  grid-area: bgm;

}

.miniRoom {
  grid-area: miniRoom;

  .miniRoomImg {
    width: 100%;
    height: 88%;
  }
}
